<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" th:value="*{username}" /><br/>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" th:value="*{password}" /><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>